@import 'grid.css';

// variables 
$bg: url('../img/asian.jpg');
$black: #000;
$tiles: 4;


// Mixins 

@mixin background-props {
	background: {
		image: $bg;
		size: cover;
		repeat: no-repeat;

	}
}

@mixin center-margin {
	margin-left: auto;
	margin-right: auto;
}

@mixin padding($top, $bottom, $left, $right) {
	padding: {
		top: $top;
		bottom: $bottom;
		left: $left;
		right: $right;
	}
}

@mixin padding-tb($top, $bottom) {
	padding: {
		top: $top;
		bottom: $bottom;
	}
}

@mixin transitions($transition) {
	-webkit-transition: $transition;                  
    -moz-transition: $transition;                 
    -o-transition: $transition;   
    -ms-transition: $transition;          
    transition: $transition;
}

@mixin hoverstyle {
	@include transitions(all .5s ease);
	&:hover {
		border: 1px solid red;			
		cursor: pointer;
		background: rgba(0,0,0,.4);
	}
}
/* General Rules */

.bg {
	@include background-props;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	height: 0;
	min-width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	-webkit-filter: blur(2px);
}
html {
	position: relative;
	height: 100%;
}
body {
	// @include background-props;
	background: $black;
	width: 100%; 
}

main {
	width: 60%;
	margin-top: 15px;
	@include center-margin;
	@media screen and (max-width: 1024px) {
		width: 100%;
	}
	> div {
		width: 100%;
		display: block;
		float: left;
		clear: both;

	}
}

.holder {
  @include padding-tb(25px, 0px);
  box-sizing: border-box;
  margin: 10px;
  .moodName {
  	  	margin-top: 10px;
  		text-align: center;
  }
}

.logo {
	background: rgba(0, 20, 23, .8);
	color: white;
	@include padding-tb(10px, 0px);
	margin-bottom: 0px;
	h1 {
		font-size: 3.5em;
	}
}

.location {
	margin-top: 0px;
	background: rgba(227, 227, 227, .8);
	padding-bottom: 40px;
	height: 270px;
	text-align: center;
	h3 {
		text-align: left;
		padding-left: 15px;
	}
	position: relative;
}

.type_foods {
	position: absolute;
	bottom: 0;
	padding-left: 15px;
}
.myButton {
	background: rgba(0,0,0,.6);		
	background-image: url('../img/next_arrow.png');
	background:{
		repeat: no-repeat;
		position: 99% 50%;
		size: 20px 20px;
	}
	@include padding-tb(5px,5px);
	padding-right: 25px;
	float: right;
	margin: 1em 0;
	font-size: 1.17em;
	margin-right: 15px;
	cursor: pointer;
	border: 1px solid black;
	box-sizing: border-box;
	color: white;
	display: none;
	@include hoverstyle;
	&:hover {
		background-image: url('../img/next_arrow.png');
		background:{
			repeat: no-repeat;
			position: 99% 50%;
			size: 20px 20px;
		}	
	}
	&:active {
		margin-bottom: -1;
	}
	&:focus {
		outline: 0;
	}
	&:disabled {
		border: 1px solid black;
		background: rgba(0,0,0,.3);
		cursor: wait;
		background-image: url('../img/next_arrow.png');
		background:{
			repeat: no-repeat;
			position: 99% 50%;
			size: 20px 20px;
		}			
	}
}

.message {
	float: left;
	display: inline-block;
}
.map-container {
	margin-top: 0px;
	padding-bottom: 30px;
	width: 100%;
	height: 270px;
}

.directions {
	color: rgba(0, 0, 0, 0.6);
	@include transitions(all .2s ease);
	&:hover {
		color: red;			
	}
}
.price-sort-slider {
	margin: 0 auto;
	width: 80%;
}

.templates {
	display: none;
}

ul {
	$width: 95%;
	width: $width;
	margin: 0 auto;
	list-style: none;
	display: inline-block;
	padding: 0;
	box-sizing: border-box;
	li {
		display: inline-block;
		background: rgba(0,0,0,.6);
		color: white;
		border: 1px solid black;
		$margin-r: 1.5%;
		margin-right: $margin-r;
		width: ((100% - ($margin-r * ($tiles - 1))) / $tiles) - 1%;
		&#last {
			margin-right: 0;
		}
		box-sizing: border-box;
		$height: 200px;
		height: $height;
		@include hoverstyle;
	}
}
